span#id1 {
    color: red;
}
span.highlight {
    background-color: yellowgreen;
}
#id2 {
    color: blueviolet;
}
#id3 {
    color: goldenrod;
}
p.highlight {
    background-color: tomato;
}
span + p {
    color: aquamarine;
    font-style: oblique;
}

div.items > a {
    background-color: blanchedalmond;
    color: green;
    font-weight: bold;
}

p + p {
    font-style: italic;
    font-weight: bold;
}
